.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .Sign_in_button {
  width: 100px;
  height: 50px;
  background-color: #282c34;
  color: white;
} */

.chatbox{
  overflow-y: scroll;
  border: 5px solid #382f46;
  padding: 10px;
  height: 700px;
  width: 40%;
}

.send {
  background-color: #4a515f; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
}

input {
  line-height: 1.5;
  width: 100%;
  font-size: 1.5rem;
  background: rgb(58, 58, 58);
  color: white;
  outline: none;
  border: none;
  padding: 0 10px;
}

form {
  height: 10vh;
  position: fixed;
  bottom: 0;
  background-color: rgb(24, 23, 23);
  width: 100%;
  max-width: 42%;
  display: flex;
  font-size: 1.5rem;
}

form button {
  width: 20%;
  background-color: rgb(56, 56, 143);
}

span.emoji {
  font-size: 60px;
  vertical-align: middle;
  line-height: 1;
}

.chatbox::-webkit-scrollbar {
  width: 0.25rem;
}

.chatbox::-webkit-scrollbar-track {
  background: #1e1e24;
}

.chatbox::-webkit-scrollbar-thumb {
  background: #6649b8;
}

.Sign_in_button{
  width: 130px;
  height: 50px;
  position: fixed;
  top: 5%;
  left: 46%;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-size: 23px;
  font-weight:500;
  color:#FFFFFF;
  background-color:#282c34;
  text-align:center;
  transition: all 0.2s;
  touch-action: manipulation;
  cursor: pointer;
}
.Sign_in_button:hover{
background-color:rgba(102, 104, 110, 0.322)  
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}

p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
}

.message {
  display: flex;
  align-items: center;
}


.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: white;
  background: #0b93f6;
  align-self: flex-end;
}
.received p {
  background: #e5e5ea;
  color: black;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
